<%= form_for @task, url: task_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.to_a, {}, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :duedate %>
    <%= form.text_field :duedate %>
  </div>

  <div>
    <%= form.label :label %>
    <%= form.text_field :label %>   
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
