<h1><%= t "task.edit" %></h1>
<%= form_for @task, url: task_path do |form| %>

  <div class="my-0 mr-md-auto font-weight-normal">
    <%= form.label :name, (t 'task.name') %>
    <%= form.text_field :name,  class: "form-control" %>
  </div>

  <div class="my-0 mr-md-auto font-weight-normal">
    <%= form.label :description, (t 'task.description') %>
    <%= form.text_field :description,  class: "form-control" %>
  </div>

  <div class="my-0 mr-md-auto font-weight-normal">
    <%= form.label :status, (t 'task.status')  %>
    <%= form.text_field :status,  class: "form-control" %>
  </div>

  <div class="my-0 mr-md-auto font-weight-normal">
    <%= form.label :duedate, (t 'task.duedate') %>
    <%= form.text_field :duedate,  class: "form-control" %>
  </div>

  <div class="my-0 mr-md-auto font-weight-normal">
    <%= form.label :label, (t "task.label") %>
    <%= form.text_field :label,  class: "form-control" %>   

  </div>

  <div class="btn btn-outline-primary">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>

<div>
  <%= link_to "Back", task_index_path %>
</div>
