<h1>Tasks</h1>
<p><%= link_to (t "task.new"), new_task_path %></p>
<table>
    <thead>
      <tr>
      <th>ID</th>
      <th><%= t "task.name" %></th>
      <th><%= t "task.status" %></th>
      <th><%= t "task.duedate" %></th>
      <th><%= t "task.label" %></th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
        <tr>
        <td><%= link_to t.id, edit_task_path(t.id) %></td>
        <td><%= link_to t.name, edit_task_path(t.id) %></td>
        <td><%=t.status %></td>
        <td><%=t.duedate %></td>
        <td><%=t.label %></td>
        <td><%= link_to 'Delete', task_path(t), data: { turbo_method: 'delete', turbo_confirm: '本当に消しますか？' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
