<h1><%= t "task.new" %></h1>
<%= form_for @task, url: "/task" do |form| %>
  <div>
    <%= form.label :name, (t 'task.name') %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, (t 'task.description') %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :status, (t 'task.status') %>
    <%= form.select :status, Task.statuses.keys.to_a, {}, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :duedate, (t 'task.duedate') %>
    <%= form.text_field :duedate %>
  </div>

  <div>
    <%= form.label :label, (t "task.label") %>
    <%= form.text_field :label %>   
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
