<%= form_for @task, url: "/task" do |form| %>
  <div>
    <%= form.label :name, class: "my-0 mr-md-auto font-weight-normal" %>
    <%= form.text_field :name,  class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, class: "my-0 mr-md-auto font-weight-normal" %>
    <%= form.text_field :description,  class: "form-control"%>
  </div>

  <div>
    <%= form.label :status, class: "my-0 mr-md-auto font-weight-normal" %>
    <%= form.text_field :status,  class: "form-control" %>
  </div>

  <div>
    <%= form.label :duedate, class: "my-0 mr-md-auto font-weight-normal" %>
    <%= form.text_field :duedate,  class: "form-control" %>
  </div>

  <div>
    <%= form.label :label, class: "my-0 mr-md-auto font-weight-normal" %>
    <%= form.text_field :label,  class: "form-control" %>   
  </div>

  <div>
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
