<h1>Search Result</h1>
<%= render 'search_form' %>
<table>
    <thead>
      <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>STATUS</th>
      <th>DUE</th>
      <th>LABEL</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |t| %>
        <tr>
        <td><%=t.id %></td>
        <td><%=t.name %></td>
        <td><%=t.status %></td>
        <td><%=t.duedate %></td>
        <td><%=t.label %></td>
        <td><%= link_to 'Delete', task_path(t), data: { turbo_method: 'delete', turbo_confirm: '本当に消しますか？' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
