<h1>Detail</h1>
<div>
  <table>
    <tr>
      <td>ID</td><td><%= @task.id %></td>
    </tr>
    <tr>
      <td><%= t "task.name" %></td><td><%= @task.name %></td>
    </tr>
    <tr>
      <td><%= t "task.description" %></td><td><%= @task.description %></td>
    </tr>
    <tr>
      <td><%= t "task.status" %></td><td><%= @task.status %></td>
    </tr>
    <tr>
      <td><%= t "task.duedate" %></td><td><%= @task.duedate %></td>
    </tr>
    <tr>
      <td><%= t "task.label" %></td><td><%= @task.label %></td>
    </tr>
  </table>
</div>
