<h1>Detail</h1>
<div>
  <table>
    <tr>
      <td>ID</td><td><%= @task.id %></td>
    </tr>
    <tr>
      <td>NAME</td><td><%= @task.name %></td>
    </tr>
    <tr>
      <td>DESC</td><td><%= @task.description %></td>
    </tr>
    <tr>
      <td>STATUS</td><td><%= @task.status %></td>
    </tr>
    <tr>
      <td>DUE</td><td><%= @task.duedate %></td>
    </tr>
    <tr>
      <td>LABEL</td><td><%= @task.label %></td>
    </tr>
  </table>
</div>
