<h1>Detail</h1>
<div>
  <table>
    <tr>
      <td>ID</td><td><%= @user.id %></td>
    </tr>
    <tr>
      <td><%= t "user.email" %></td><td><%= @user.email %></td>
    </tr>
    <tr>
      <td><%= t "user.role" %></td><td><%= @user.role %></td>
    </tr>
  </table>
</div>
