<!DOCTYPE html>
<html>
  <head>
    <title>SampleRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <nav>
          <% if user_signed_in? %>
            <strong><%= link_to current_user.email, pages_show_path %></strong>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <% if current_user.admin? %>
              <%= link_to 'ユーザ管理', users_path %>
            <% end %>
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
          <% end %>
        </nav>
    </header>
    <% if flash[:alert] || flash[:danger] %>
      <% flash.each do |key, value| %>
         <p class="alert alert-<%= key %>">
           <%= value %>
         </p>
      <% end %>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
